.lol {
    font-family: mark-heavy;
    font-size: 1.125em;
}

.lol2 {
    font-family: mark-heavy;
    color: #02f0ac;
    font-size: 1.125em;
}

.book {
    color: #02f0ac;
    font-size: 1.125em;
}