@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}


:root {
    --card-height: 43.75em;
    --card-width: 68.75em;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 5;

    .go-back-icon {
        position: relative;
        top: 2.1875em;
        left: 1.25em;
        color: #ccc;
        font-size: 1.2em;
        cursor: pointer;
        z-index: 5;

        &:hover {
            color: #fff;
        }
    }
}

.card {
    width: 50em;
    display: flex;
    background: #191c29;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    display: flex;
    color: rgb(88 199 250 / 0%);
    padding: 40px 80px;
}

.card::before {
    content: "";

    width: 101%;
    height: 101%;
    border-radius: 0.5em;
    background-image: linear-gradient(var(--rotate), #02f0ac, #04c28c 43%, #00aa7a);
    position: absolute;
    z-index: -1;
    animation: spin 2.5s linear infinite;
}

.card::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    z-index: -1;
    height: 90%;
    width: 90%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #02f0ac, #04c28c 43%, #00aa7a);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}




.form-container {
    background-color: #0E0E0E;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .form-title {
        margin-top: 2.5rem;
        font-size: 2.5em;
        color: #fff;
        text-align: center;
        font-family: mark-heavy;
    }

    form {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.9375em;
        border-radius: 0.375em;
        width: fit-content;

        h1 {
            color: #02f0ac;
            font-family: mark-bold;
            font-size: 1.6em;
            align-self: flex-start;
            margin-bottom: 2em;
        }

        .form-group {
            margin-bottom: 1em;
            // width: 500px;
            width: 100%;
            // width: 50em;
            margin: 0 auto;

            label {
                display: block;
                margin-bottom: 0.5em;
                color: #fff;
                font-family: mark-bold;
            }

            input {
                color: #ccc;
                width: 100%;
                font-size: 0.875em;
                padding: 0.5em;
                border: 1.5px solid rgba(255, 255, 255, .493);
                border-radius: 0.25em;
                background-color: transparent;
                outline: none !important;
                box-shadow: none !important;

                &::placeholder {
                    font-family: mark-pro-heavy;
                    color: rgba(255, 255, 255, 0.493);
                    font-family: mark-bold;

                }

                &:focus {
                    border: 1.5px solid #02f0ac;
                    transition: 0.3s all;
                    box-shadow: #02f0ac 0px 0px 3px 0px;
                }
            }

            textarea {
                @extend input;
                min-height: 7.5em;
                max-height: 18.75em;
            }

            .form-control-file {
                width: 12.5em;
                height: 6.25em;
                background-color: none;
                background-color: #02f0ad93;
            }

        }

        .label-img {
            align-self: flex-start;
            display: block;
            margin-bottom: 0.5em;
            color: #fff;
            font-family: mark-bold;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.3125em;
            width: 12.5em;
            padding: 0.5em;
            border: 1.5px solid #02f0ac;
            border-radius: 0.25em;
            margin-top: 1.25em;
            color: #fff;
            font-weight: 700;
            cursor: pointer;

            &:hover {
                transition: 0.3s all;
                border: 1.5px solid transparent;
                background-color: #02f0ad93;
            }
        }

        .form-left {
            display: flex;
            flex-direction: column;
            gap: 0.9375em;
            width: 50%;

            .date-form {
                @extend .form-group;
                width: 100%;

                .date-cont {
                    position: relative;

                    input {
                        color: #fff;

                        &::-webkit-calendar-picker-indicator {
                            cursor: pointer;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            color: transparent;
                            background: 0 0;
                            margin: 0;
                            opacity: 0;
                            pointer-events: auto;
                        }
                    }
                }
            }
        }

        .category-form {
            border: 1.5px solid rgba(255, 255, 255, .493);
            width: 2.1875em;
            padding: 0.3125em;
            cursor: pointer;
            height: 2.1875em;
            border-radius: 0.3125em;
            color: #ccc;

            &:hover {
                border: 1.5px solid #02f0ac;
                transition: 0.1s all;
                color: #fff;
                box-shadow: #02f0ac 0px 0px 3px 0px;
            }

            // background-color: #2b2b2b;
        }

        .category-form-active {
            transition: 0.1s all;
            width: 2.1875em;
            padding: 0.3125em;
            cursor: pointer;
            height: 2.1875em;
            border-radius: 0.3125em;
            border: 1.5px solid #02f0ac;
            color: #fff;
            box-shadow: #02f0ac 0px 0px 3px 0px;
        }

        .error-message {
            // display: block;
            margin-top: 5px ;
            bottom: 2;
            right: 0;
            position: absolute;
            text-align: right;
            font-size: 12px;
            // color: #ccc; 
            color: #ff5252;
            font-family: mark-bold;
        }

        .fatal-error-message {
            color: #ff5252;
            font-family: mark-bold;
            position: absolute;
            bottom: 0;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}