.letter-detail-section {
    background-color: #0E0E0E;
    min-height: 100vh;

    h1 {
        font-size: 40px;
        color: #fff;
        text-align: center;
        font-family: mark-heavy;
        margin: 20px 0;
    }

    .letter-detail {

        // min-height: 700px;
        min-height: 700px;
        background-color: #171717;
        padding: 20px 20px 10px 20px;
        color: #ccc;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            font-size: 20px;
            font-family: mark-heavy;
            margin: 10px 0;
        }

        .date {
            font-size: 16px;
            font-family: mark-medium;
            margin: 10px 0;
            border-bottom: 1px solid #0BCCAC;
        }

        hr {
            border: 1px solid #0BCCAC;
            margin: 10px 0;

        }

        textarea {
            color: rgba(204, 204, 204, 0.842);
            font-size: 16px;
            min-height: 550px;
            max-height: 550px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgba(204, 204, 204, 0.459);
            outline: none;
            box-shadow: none;
            cursor: default;
        }
    }

    .letter-detail-loading {
        @extend .letter-detail;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .letter-detail-container {
        height: 75%;
        width: 40%;
        background-color: #0BCCAC;
        padding: 5px;
        box-shadow: rgb(11 204 172 / 54%) 0px 2px 8px 0px;
        border-radius: 5px;
        overflow: hidden;
    }

    .loader-heart {
        position: relative;
        width: 40px;
        height: 60px;
        animation: heartBeat 1.5s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .loader-heart:before,
    .loader-heart:after {
        content: "";
        background-color: #0BCCAC;
        width: 40px;
        height: 60px;
        border-radius: 50px 50px 0 0;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: rotate(45deg);
        transform-origin: 50% 68%;
        box-shadow: 5px 4px 5px #0004 inset;
    }

    .loader-heart:after {
        transform: rotate(-45deg);
    }

    @keyframes heartBeat {
        0% {
            transform: scale(0.95)
        }

        5% {
            transform: scale(1.1)
        }

        39% {
            transform: scale(0.85)
        }

        45% {
            transform: scale(1)
        }

        60% {
            transform: scale(0.95)
        }

        100% {
            transform: scale(0.9)
        }
    }




}