.ticket-container {
    .ticket {
        transition: all .2s;
        cursor: pointer;

        // width: fit-content;
        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 0.5px solid #303030;

            .rotate {
                width: fit-content;
                transform: rotate(-90deg);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h3 {
                    letter-spacing: 3px;
                }

                .theatre {
                    letter-spacing: 2px;
                }
            }

            h3 {
                font-family: mark-heavy;
                // font-size: 1.5em;
                // color: #fff;
            }

            // .icon {

            // }
        }

        .right {
            width: fit-content;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // align-items: center;

            // border-left: 0.5px solid #303030;
            // padding: 10px;
            margin: 0 auto;
        }

        &:hover {
            transform: translate(0, -5px);
        }
    }
}