.ticket-detail-container {
    min-height: 100vh;
    background-color: #0E0E0E;

    .title {
        text-align: center;
        font-size: 2.5em;
        color: #fff;
        font-family: mark-heavy;
    }

    .ticket-father {
        transition: all 0.5s ease;

        .ticket {
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
            min-width: 650px;
            min-height: 300px;
            // aspect-ratio: 18/9;

            .left {
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 0.5px solid #303030;

                .rotate {
                    width: fit-content;
                    transform: rotate(-90deg);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h3 {
                        letter-spacing: 3px;
                    }

                    .theatre {
                        letter-spacing: 2px;
                    }
                }

                h3 {
                    font-family: mark-heavy;
                }

            }

            .right {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 0 auto;
            }


        }

        &:hover {
            transition: all 0.1s ease;
            transform: scale(1.1);
        }
    }



    .ticket-mobile {

        touch-action: none; // <== no hay scroll
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
        min-height: 300px;
        user-select: none; // <== no hay selección

        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid #ccc;

            .rotate {
                width: fit-content;
                transform: rotate(-90deg);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h3 {
                    letter-spacing: 3px;
                }

                .theatre {
                    letter-spacing: 2px;
                }
            }

            h3 {
                font-family: mark-heavy;
            }

        }

        .right {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            gap: 10px;
            border-bottom: 1px solid #ccc;
        }

        transition: all 0.5s ease;

        &:hover {
            transition: all 0.1s ease;
            transform: scale(1.1);
        }
    }

    .bg {
        top: 0;
        position: absolute;
        filter: blur(20px);
        width: 100%;
        height: 100%;
    }

    .wrapper {
        perspective: 1200px;
        padding: 20px;
    }



    .loader-ticket {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        border-top: 3px solid #FFF;
        border-right: 3px solid transparent;
        box-sizing: border-box;
        animation: rotation 0.6s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}