.timeline-section {
    min-height: 100vh;
    background-color: #0E0E0E;
}

.vertical-timeline--two-columns .vertical-timeline-element-content, .vertical-timeline-element-content {
    padding: 0 !important;
    box-shadow: none !important;
    background: none !important;
}

