.letter-container {
    cursor: pointer;
    background-color: #fff;
    box-shadow: rgba(255, 255, 255, 0.32) 0px 0px 7px 0px;
    width: 21.875em;
    height: 12.5em;
    overflow: hidden;
    text-align: center;
    border-radius: 0.3125em;
    padding-bottom: 1.5625em;

    h3 {
        font-size: 1.25em;
        font-family: mark-bold;
        color: #202020;
    }

}

.letter-container-off {
    @extend .letter-container;
    background-color: rgba(0, 0, 0, 0.137);
}

.letter {
    border-radius: 0 0 5px 5px;
    height: 100%;
    width: 100%;
    background-image: url('../../../public/img/letter.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-off {
    border-radius: 0 0 5px 5px;
    height: 100%;
    width: 100%;
    background-image: url('../../../public/img/letterOff.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-icon {
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.25em;
    border-radius: 5px;
    padding: 0.3125em;

    &:hover {
        transition: all 0.3s;
        background-color: #fff;
        color: #202020;
    }
}