.detail {
    background-color: #0E0E0E;
}

.adv-detail-father {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.adv-detail-title {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    font-family: mark-heavy;
}

.adv-detail {
    width: 75%;
    height: 75%;
    overflow: hidden;
    border-radius: 0.3125em;
    background-color: #0BCCAC;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3125em;
    box-shadow: #0bccac8a 0px 2px 8px 0px;

    .icon {
        cursor: pointer;
        color: #ccc;
        font-size: 1.25em;

        &:hover {
            color: #fff;
        }
    }

    .icon2 {
        @extend .icon;
        font-size: 1.5625em;
    }

    .img-modal-adv-detail {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1A1B23;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .modal-content-adv-detail {
        background-color: #1A1B23;
        width: 50%;
        height: 100%;
        padding: 2.5em;

        h3 {
            font-family: mark-heavy;
            font-size: 1.25em;
            color: rgb(230, 230, 230);
        }

        .description {
            color: #939499;
            height: 70%;
        }

        .category-form-active {
            transition: 0.1s all;
            width: 2.1875em;
            padding: 0.3125em;
            height: 2.1875em;
            border-radius: 5px;
            border: 1.5px solid #02f0ac;
            color: #fff;
            box-shadow: #02f0ac 0px 0px 3px 0px;
        }
    }

    .loader-tea {
        width: 3em;
        height: 3em;
        display: inline-block;
        position: relative;
        border: 4px solid #FFF;
        box-sizing: border-box;
        animation: fill 2s linear infinite alternate;
        color: #02f0ac;
        border-radius: 0 0 4px 4px;
    }

    .loader-tea::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        border: 4px solid #FFF;
        width: 1.25em;
        height: 1.5625em;
        border-radius: 0 4px 4px 0;
    }

    @keyframes fill {
        0% {
            box-shadow: 0 0 inset;
        }

        100% {
            box-shadow: 0 -48px inset;
        }
    }

    //loader-picture

    .loader-picture {
        width: 4em;
        height: 4em;
        position: relative;
        background: #FFF;
        border-radius: 4px;
        overflow: hidden;
      }
      .loader-picture:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 2.5em;
        height: 2.5em;
        transform: rotate(45deg) translate(30%, 40%);
        background: #01ffb7;
        box-shadow: 32px -34px 0 5px #02f0ac;
        animation: slide 2s infinite ease-in-out alternate;
      }
      .loader-picture:after {
        content: "";
        position: absolute;
        left: 0.625em;
        top: 0.625em;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background: #02f0ac;
        transform: rotate(0deg);
        transform-origin: 2.1875em 9.0625em;
        animation: rotate 2s infinite ease-in-out;
      }
  
      @keyframes slide {
        0% , 100%{ bottom: -2.1875em}
        25% , 75%{ bottom: -0.125em}
        20% , 80%{ bottom: 0.125em}
      }
      @keyframes rotate {
        0% { transform: rotate(-15deg)}
        25% , 75%{ transform: rotate(0deg)}
        100% {  transform: rotate(25deg)}
      }
    
}