.letter-form-section {
    background-color: #0E0E0E;
    min-height: 100vh;

    h1 {
        font-size: 40px;
        color: #fff;
        text-align: center;
        font-family: mark-heavy;
        margin: 20px 0;
    }

    .letter-detail {
        min-height: 650px;
        background-color: #171717;
        padding: 20px 20px 5px 20px;
        color: #ccc;

        hr {
            border: 1px solid #0BCCAC;
            margin: 10px 0;

        }

        .input-title {
            font-size: 20px;
            font-family: mark-heavy;
            margin: 10px 0;
            color: #fff;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgba(204, 204, 204, 0.459);
            outline: none;
            box-shadow: none;
            width: 75%;
        }

        .input-date {
            @extend .input-title;
            font-size: 16px;
            font-family: mark-medium;
            text-align: center;
            width: 25%;
        }

        .input-description {
            color: rgba(204, 204, 204, 0.842);
            font-size: 16px;
            min-height: 500px;
            max-height: 500px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgba(204, 204, 204, 0.459);
            outline: none;
            box-shadow: none;
        }

        .input-author {
            @extend .input-title;
            font-size: 14px;
            font-family: mark-medium;
            text-align: center;
            width: 40%;
        }

    }

    .letter-detail-container {
        background-color: #0BCCAC;
        padding: 5px;
        box-shadow: rgb(11 204 172 / 54%) 0px 2px 8px 0px;
        border-radius: 5px;
        overflow: hidden;
    }
}

.send-btn {
    // background-color: #0BCCAC;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-family: mark-bold;
    padding: 5px 20px;
    border: 1px solid #0BCCAC;
    // border: none;
    border-radius: 5px;
    position: absolute;
    margin: 15px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        // background-color: #1a7566;
        box-shadow: rgb(11 204 172 / 54%) 0px 2px 8px 0px;
    // border-radius: 5px;

    }
}

textarea::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #0BCCAC;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1a7566;
}