.letter-form-section {
    background-color: #0E0E0E;
    min-height: 100vh;

    h1 {
        font-size: 2.5em;
        color: #fff;
        text-align: center;
        font-family: mark-heavy;
        margin: 1.25rem 0;
    }

    .letter-detail {
        min-height: 40.625em;
        background-color: #171717;
        padding: 1.25em 1.25em 0.3125em 1.25em;
        color: #ccc;

        hr {
            border: 1px solid #0BCCAC;
            margin: 10px 0;

        }

        .input-title {
            font-size: 1.25em;
            font-family: mark-heavy;
            margin: 0.625em 0;
            color: #fff;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgba(204, 204, 204, 0.459);
            outline: none;
            box-shadow: none;
            width: 75%;
        }

        .input-date {
            @extend .input-title;
            font-size: 1em;
            font-family: mark-medium;
            text-align: center;
            width: 25%;
        }

        .input-description {
            color: rgba(204, 204, 204, 0.842);
            font-size: 1em;
            min-height: 31.25em;
            max-height: 31.25em;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgba(204, 204, 204, 0.459);
            outline: none;
            box-shadow: none;
        }

        .input-author {
            @extend .input-title;
            font-size: 0.875em;
            font-family: mark-medium;
            text-align: center;
            width: 40%;
        }

    }

    .letter-detail-container {
        background-color: #0BCCAC;
        padding: 0.3125em;
        box-shadow: rgb(11 204 172 / 54%) 0px 2px 8px 0px;
        border-radius: 5px;
        overflow: hidden;
    }
}

.send-btn {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.3125em;
    font-size: 1.125em;
    font-family: mark-bold;
    padding: 0.3125rem 1.25em;
    border: 1px solid #0BCCAC;
    border-radius: 0.3125em;
    position: absolute;
    margin: 0.9375em 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: rgb(11 204 172 / 54%) 0px 2px 8px 0px;
    }
}

textarea::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #0BCCAC;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1a7566;
}