.letters-container-section {
    background-color: #0E0E0E;
    min-height: 100vh;

    h1 {
        font-size: 40px;
        color: #fff;
        text-align: center;
        font-family: mark-heavy;
        margin: 20px 0;
    }
    // .btns {
        
    // }
}

