.footer {
    background-color: #0E0E0E;
    padding: 1em;
    text-align: center;
    color: #6c757d;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3125em;
    box-shadow: 0 10px 15px 1px rgba(255, 255, 255, 0.5);
    .heart {
        font-size: 1em;
        margin-bottom: 0.1875em;
    }
}